@import '~vuetify/src/styles/styles.sass';
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
$body-font-family: 'Poppins', sans-serif !important;

$oskillsDark: (
  'base': #21252b,
  'lighten-1': #282c34,
  'lighten-2': #474f57,
  'darken-1': #343a40,
);
$oskillsLight: (
  'base': #ffffff,
  'darken-1': #fafafa,
);

$colors: (
  'oskillsDark': $oskillsDark,
  'oskillsLight': $oskillsLight
) !default;

$material-dark: map-merge(
  $material-dark,
  (
    'app-bar': map-get($oskillsDark, 'base'),
    "background": map-get($oskillsDark, "base"),
    'cards': map-get($oskillsDark, 'lighten-1'),
    'chips': map-get($oskillsDark, 'lighten-2'),
    'navigation-drawer': map-get($oskillsDark, 'base'),
    'toolbar': map-get($oskillsDark, 'lighten-1'),
    'bottom-navigation': map-get($oskillsDark, 'lighten-1'),
  )
);

$material-light: (
  'app-bar': map-get($oskillsLight, 'base'), 
  'background': map-get($oskillsLight, 'base'), 
  'cards': map-get($oskillsLight, 'darken-1'),
  'chips': map-get($oskillsLight, 'darken-1'),
  'navigation-drawer': map-get($oskillsLight, 'base'), 
  'toolbar': map-get($oskillsLight, 'darken-1'),
  'bottom-navigation': map-get($oskillsLight, 'base'),
);
