@import '~vuetify/src/styles/styles.sass';
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
$body-font-family: 'Poppins', sans-serif !important;

$oskillsDark: (
  'base': #21252b,
  'lighten-1': #282c34,
  'darken-1': #343a40,
);

$colors: (
  'oskillsDark': $oskillsDark,
) !default;

$material-dark: map-merge(
  $material-dark,
  (
    'app-bar': map-get($oskillsDark, 'base'),
    "background": map-get($oskillsDark, "base"),
    'cards': map-get($oskillsDark, 'lighten-1'),
    'navigation-drawer': map-get($oskillsDark, 'base'),
    'toolbar': map-get($oskillsDark, 'lighten-1'),
  )
);

$material-light: (
  'app-bar': #FAFAFA, 
  'background': #FAFAFA, 
  'navigation-drawer': #FAFAFA
);
